# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
._*
.DS_Store

# Testing
coverage
*.test.js
*.spec.js
test
cypress

# Storybook
.storybook
.storybook-static
*.stories.*

# CI/CD
.github
.circleci

# Docs
*.md
!README.md
LICENSE
SECURITY.md
code_of_conduct.md

# Dev files
tsconfig.json
vite.config.ts
.eslintrc.json
.prettierrc

# Temp
*.log
npm-debug.log
