repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: fix-byte-order-marker
