version: 2.1

orbs:
  cypress: cypress-io/cypress@5

executors:
  node-executor:
    docker:
      - image: cimg/node:20.11.0
    working_directory: ~/repo

commands:
  install_dependencies:
    steps:
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: v2-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules

jobs:
  lint:
    executor: node-executor
    steps:
      - checkout
      - install_dependencies
      - run: npm run lint

  test:
    executor: node-executor
    steps:
      - checkout
      - install_dependencies
      - run: npm test
      - run: npm run coverage
      - run: npm run coveralls
      - store_artifacts:
          path: coverage
          prefix: coverage

  cypress:
    executor: cypress/browsers
    steps:
      - checkout
      - install_dependencies
      - cypress/run:
          record: true
          parallel: true
          group: 'UI Tests'

  build:
    executor: node-executor
    steps:
      - checkout
      - install_dependencies
      - run: npm run build:lib
      - save_cache:
          key: v2-build-{{ .Branch }}-{{ .Revision }}
          paths:
            - dist

  build-storybook:
    executor: node-executor
    steps:
      - checkout
      - install_dependencies
      - run: npm run build
      - save_cache:
          key: v2-storybook-{{ .Branch }}-{{ .Revision }}
          paths:
            - storybook-static

  deploy:
    executor: node-executor
    steps:
      - checkout
      - install_dependencies
      - restore_cache:
          keys:
            - v2-build-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Publish to npm
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
            npm publish

workflows:
  version: 2
  ci:
    jobs:
      - lint
      - test:
          requires:
            - lint
      - cypress:
          requires:
            - lint
      - build:
          requires:
            - test
      - build-storybook:
          requires:
            - lint

  release:
    jobs:
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
            tags:
              only: /v.*/
